<p id="notice"><%= notice %></p>
<h1>Users</h1>
<%= link_to 'Back', posts_path, class: 'btn btn-primary'%>
<hr>
<% @users.each do |user| %>
  <% if user!=current_user%>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">User: <%= link_to user.email, user_path(user) %></h5>
	      <h5>Followers :<%= user.followers.count%></h5>
	      <h5>Following :<%= user.following.count%></h5>
	    </div>
	  </div>
   <%else%>
  <%end%>
<% end %>